//
// @file
// Set Icon
//
// Mixin for applying svg sprites with png fallback. $icon-sprites adheres to
// the compass sprites naming convention, so be mindful that "icon" is dependent
// on your directory structure and names.
//
// See:
// http://compass-style.org/help/tutorials/spriting/
// https://github.com/killtheliterate/svg-sprites
// ---------------------------------------------------------------------------
// Set Icon.
@mixin set-icon($position, $selector, $filename){

  // If set bg on the element.
  @if $position == '' {
    #{$selector} {
      background-image: $icon-sprites no-repeat; // Set the default sprite CSS
      @include sprite-background-position($icon-sprites, $filename);
    }

    .svg #{$selector} {
      background-image: image-url('icon--svg/#{$filename}.svg', false, false);
      background-position: 50% 50%;
    }
  }

  // Else before/after.
  @else {
    #{$selector}:#{$position} {
      background-image: $icon-sprites no-repeat; // Set the default sprite CSS
      @include sprite-background-position($icon-sprites, $filename);
    }

    .svg #{$selector}:#{$position} {
      background-image: image-url('icon--svg/#{$filename}.svg', false, false);
      background-position: 50% 50%;
    }
  }
}
